<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Page</title>
</head>
<link rel="stylesheet" href="/stylesheets/feed.css">
<body>
    <body>
    <div class="container">    
        <%img.forEach((ele)=>{%>
            <div class="box">
                <img src="<%=ele%>></a>
            <div class="caption">Lorem ipsum </div>
            </div> 
        <%})%>
    </div>
        <script src="/javascripts/feed.js"></script>
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </body>
                     
    
</body>
</html>