<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Post</title>
</head>
<link rel="stylesheet" href="/stylesheets/style.css">

<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Add Post</p>

      <form id="postform" style="display: inline;" action="/upload" method="post" enctype="multipart/form-data">
        <input class="detail" type="file" id="post" name="post">
        <label class="detail" for="caption">Caption</label>
        <input class="detail" type="text" id="caption" name="caption" placeholder="Image Caption">
        <input class="btn int" type="submit" value="Add Post">
      </form>
    </div>
  </div>

</body>
</html>